.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

.card {
  height: 100%
}

.card-text {
  text-align: left;
}

.col-md-4 {
  padding-left: 0px !important;
}

/* .card-text{
  font-size: 15px;
  text-align: left;
  justify-content: left;
} */

.headerbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.mission-theme {
  color: #000;
  border-radius: 10px;     
  position: absolute;
  top: -12px;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  border-top: #000;
}

.mission-theme1 {
  color: #000;
  border-radius: 10px;     
  position: absolute;
  top: -29px;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  border-top: #000;
}
.card-body{
    padding: var(--mdb-card-spacer-y =0) var(--mdb-card-spacer-x =0) !important;
    padding-top: 0px;
}



@media screen and (min-width:0px) and (max-width:992px) {


  .name .d-flex span {
    display: none;
  }
}
