#navbarScroll{
  align-items: flex-end;
}

.heading1{
 padding-top: 25px;
  justify-content: center;
  text-align: left;
  
}

.imageseasts{

justify-content: left;
text-align: left;

}